<main class="container">
  <div class="row search-section">
    <div class="input-group col-md-12">
      <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="$ctrl.getRepositories(searchText)">Search</button>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="no-result" ng-if="$ctrl.repositorys === undefined || $ctrl.repositorys === []"></div>
    <ul class="repo-list col-md-12" ng-if="$ctrl.repositorys !== undefined" ng-repeat="repository in $ctrl.repositorys">
      <li class="repo-list__item">
        <div class="repo-list__basic-details">
          <h4 class="repo-list__title">
            <a href="{{ repository.html_url }}">{{ repository.full_name }}</a>
            <a ui-sref="app.issues({repo_name: repository.full_name})" class="repo-list__go-to-link">Check the issues</a>
          </h4>
          <p class="repo-list__description">{{ repository.description }}</p>
          <span class="repo-list__label" ng-if="repository.owner.login !== ''">{{ repository.owner.login }}</span>
          <span class="repo-list__label" ng-if="repository.language !== ''">{{ repository.language }}</span>
          <span class="repo-list__label" ng-if="repository.license.name !== ''">{{ repository.license.name }}</span>
        </div>
        <div class="repo-list__repo-data">
          <div class="repo-list__stargazers">
            <i class="fas fa-star icons">
              <span class="tooltip">Stargazers: {{ repository.stargazers_count }}</span>
            </i>
          </div>
          <div class="repo-list__forks">
            <i class="fas fa-code-branch icons">
              <span class="tooltip">Forks: {{ repository.forks_count }}</span>
            </i>
          </div>
          <div class="repo-list__issues">
            <i class="fas fa-exclamation-triangle icons">
              <span class="tooltip">Issues: {{ repository.open_issues_count }}</span>
            </i>
          </div>
        </div>
      </li>
    </ul>
    <ul class="pagination" ng-if="$ctrl.repositorys !== undefined">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>
</main>
