@import '../node_modules/bootstrap/less/bootstrap';
@import './style/search.less';
@import './style/issues.less';

.header {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.footer {
  border-top: 1px solid #ccc;
  padding: 10px;
}